[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bumpversion = ">=0.5.3"
watchdog = ">=0.8.3"
"flake8" = ">=3.5.0"
tox = ">=2.9.1"
coverage = ">=4.5.1"
pytest = ">=3.4.1"
pytest-runner = ">=2.11.1"
Sphinx = ">=1.7.0"
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"
pyyaml = ">=4.2b1"
requests = ">=2.20.0"

[dev-packages]

[requires]
python_version = "2.7"
